<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>SSER-DESIGN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .column {
            border: 1px dotted grey;
        }

        .holder {
            height: 90%;
        }

        .leftPane,
        .platform {
            background-color: #a2a2a240;
            box-shadow: 0px 5px 7px;
        }
    </style>

</head>

<body class="h-100">
    <div id="app" class="h-100">
        <div class="container-fluid h-100">
            <div class="row mb-2 holder">
                <div class="column col-2 leftPane">
                    <select v-model="activeType">
                        <option value="null">Select an Element</option>
                        <option v-for="option in availableElements" :value="option.value">
                            {{ option.text }}
                        </option>
                    </select>
                </div>
                <div class="column col-10 platform">
                    <div class="container h-100">
                        <div class="row">
                            <Cell></Cell>
                             <Cell></Cell>
                             <Cell></Cell>
                        </div>
                        <div class="row">
                            <Cell></Cell>
                             <Cell></Cell>
                             <Cell></Cell>

                        </div>
                        <div class="row">
                            <Cell></Cell>
                            <Cell></Cell>
                            <Cell></Cell>

                        </div>
                        <div class="row">
                            <Cell></Cell>
                             <Cell></Cell>
                             <Cell></Cell>
                        </div>
                        <div class="row">
                            <Cell></Cell>
                             <Cell></Cell>
                             <Cell></Cell>
                        </div>
                        <div class="row">
                             <Cell></Cell>
                             <Cell></Cell>
                             <Cell></Cell>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column text-center">
                    <button @click="generatePage">{{SUBMIT_MESSAGE}}</button>
                </div>
            </div>
        </div>


    </div>
    <script type="vue-template" id="custom-button">
        <div class="column col-md-4 text-center">
         Cell
        </div>
    </script>

    <script>
       const Cell = {
        template: "#custom-button"
       };
        const app = Vue.createApp({
            data() {
                return {
                    SUBMIT_MESSAGE: "GENERATE THE PAGE",
                    activeType: null,
                    availableElements: [
                        { text: "titleBig", value: "H1" },
                        { text: "titleSmall", value: "H2" },
                        { text: "titleSmaller", value: "H3" },
                        { text: "link", value: "a" },
                        { text: "image", value: "img" },
                        { text: "text", value: "p" },

                    ]
                }
            },
            components:{Cell:Cell},
            methods: {
                generatePage: function () {
                    var http = new XMLHttpRequest();
                    var url = '/getPage';

                    http.open('POST', url, true);

                    //Send the proper header information along with the request
                    http.setRequestHeader('Content-type', 'application/json');
                    http.onreadystatechange = function () {
                        if (http.readyState == 4 && http.status == 200) {
                            var win = window.open("/Result");
                            setTimeout(function () {
                                win.document.write(http.responseText);
                            }, 1000)

                        }
                    }
                    http.send(JSON.stringify({
                        "elements": [
                             { "type": "h1",  "val": "MY NAME IS..", "style": "color:red" },
                            { "type": "p", "val": "midsdsd", "style": "color:red" },
                            { "type": "h", "val": "sample", "style": "color:orange" },
                            { "type": "div", "style": "color:red", "val": "ng'>" },
                            { "type": "a", "attr":[{"name":"href","val":"www.google.com"}], "style": "color:blue", "val": "22" }
                        ]
                    }));
                }
            }
        }).mount("#app");
       
    </script>
</body>

</html>